[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bufferscape"]
	path = bufferscape
	url = https://github.com/mplanta-lab/bufferscape
